# =========================
# FRONTEND (React)
# =========================
node_modules/
dist/
build/
.env

# =========================
# BACKEND (Spring Boot / Maven)
# =========================
target/
!**/src/main/**/target/
!**/src/test/**/target/

# =========================
# Maven Wrapper
# =========================
.mvn/wrapper/maven-wrapper.jar

# =========================
# Eclipse / STS
# =========================
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# =========================
# IntelliJ IDEA
# =========================
.idea/
*.iws
*.iml
*.ipr

# =========================
# NetBeans
# =========================
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# =========================
# VS Code
# =========================
.vscode/
